/*Középre igazítás*/
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

.buttons{
    display: flex;
    justify-content: space-between;
}